:root {
    /* declare a variable with `--` syntax */
    --dark: #13293d;
    --light: #fff;
    --navlink-color: #b9c6ae;
  }
  
  body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    /* use CSS var() function to reference a variable created above */
    background-color: var(--dark);
    color: var(--light);
  }
  
  h1 {
    font-size: 200%;
  }
  
  h2 {
    padding-left: 5%;
    font-size: 100%;
  }
  
  /* a[href*='.css']::after {
    content: '📝';
    display: inline-block;
    margin-left: 3px;
  } */
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  nav a {
    background-color: unset;
    color: var(--navlink-color);
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: var(--light);
  }
  footer {
    display: flex;
    justify-content: left;
    padding: 2%;
    background-color: #13293d;
    color: #fff;
  }
  span {
    padding-right: 10%;
  }